@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}
@import '../../../../node_modules/preline/variants.css';

body * {
  box-sizing: border-box;
}

@layer base {
  button {
    @apply appearance-auto tracking-normal leading-normal transform-none indent-0 flex items-center justify-center !text-center m-0 py-[1px] px-[6px];
  }
  canvas,
  img,
  video {
    @apply max-w-full h-auto;
  }
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    @apply align-middle;
  }
  img {
    @apply overflow-clip;
  }
  form {
    @apply block mt-0;
  }
  input,
  textarea,
  select {
    @apply m-0;
  }
  input:not(
      [type='image' i],
      [type='range' i],
      [type='checkbox' i],
      [type='radio' i]
    ) {
    @apply !overflow-clip;
  }
  input[type='text'] {
    @apply py-[1px] px-[2px];
  }
  input {
    @apply tracking-normal leading-normal normal-case indent-0 no-underline inline-block text-start appearance-auto cursor-text shadow-none;
  }
}

@layer components {
  .main-section-container {
    @apply max-w-screen-2xl mx-auto px-4 sm:px-6 lg:px-8 w-full;
  }

  .auth-member {
    @apply lg:grid lg:grid-cols-[repeat(2,1fr)] lg:grid-rows-[180px] lg:h-auto h-screen relative;
  }

  .auth-member-brand {
    @apply lg:block hidden m-[20px_auto_0] col-span-2;
  }

  .auth-member-char {
    @apply lg:flex lg:justify-end lg:mr-20 hidden;
  }

  .auth-member-figure {
    @apply inline-flex justify-center flex-col;
  }

  .auth-member-figure-icon {
    @apply min-h-60 flex items-end justify-center;
  }

  .auth-member-figure-label {
    @apply flex items-center justify-center flex-col;
  }

  .auth-member-figure-label-label {
    @apply text-lg font-semibold text-[#151416] text-center;
  }

  .auth-member-figure-label-text {
    @apply m-[10px_0_0] max-w-[450px] text-sm text-[#494a4a] text-center;
  }

  .auth-member-content {
    @apply lg:max-w-screen-2xl lg:flex lg:flex-col items-baseline justify-center lg:px-[30px] lg:m-0;
  }

  .auth-member-content-main {
    @apply w-full h-full;
  }

  .auth-member-content-main .auth {
    @apply bg-white lg:p-0 rounded-lg md:h-auto md:min-w-[375px] md:min-h-[375px] flex flex-col-reverse justify-end relative;
  }

  .auth-member-content-main .page {
    @apply lg:w-[420px] h-full;
  }

  .auth-container {
    @apply lg:!p-2.5 lg:!m-0 md:z-[2] md:h-auto sm:w-[400px];
  }

  .auth-title.login,
  .auth-title.pre-sign-up {
    @apply lg:p-[20px_24px];
  }

  .auth-title {
    @apply lg:flex lg:items-center lg:flex-col bg-white -mb-[1px] rounded-[16px_16px_0_0] border-b-0 text-sm flex items-baseline pb-[15px] border-b-[1px_solid_#d1d1d1] justify-between;
  }

  .auth-title h3 {
    @apply font-semibold text-[#151416] text-[21px];
  }

  h3 {
    @apply block text-lg font-bold my-4 mx-0 leading-[1.4];
  }
  .auth-content {
    @apply grid grid-rows-1 gap-5;
  }
  .auth-content label {
    @apply text-sm text-[#666666];
  }
  .auth-form {
    @apply lg:rounded-2xl lg:p-[20px_24px] bg-white p-[10px_24px_20px] rounded-[16px_16px_0_0] shadow-[0px_4px_8px_rgba(30,44,106,0.1)];
  }
  .auth-form-control {
    @apply inline-block relative max-w-full align-middle w-full;
  }
  .auth-form-input {
    @apply w-full flex items-center p-[12px_42px_12px_16px] border border-[#e8e8e8] rounded-lg text-sm text-[#151416] bg-white leading-[22px] focus:bg-[#EBF4FF] focus:outline-none focus:ring-0 focus:shadow-[0px_0px_0px_1px_rgba(59,130,246,0.5)];
  }

  .c-button {
    @apply p-[7px_16px] rounded-lg text-center tracking-[0.001em] outline-none inline-flex flex-row justify-center items-center gap-2 whitespace-nowrap border cursor-pointer transition-all duration-300 ease-[cubic-bezier(0.64,0.5,0.35,1)] font-medium text-base leading-6;
  }
  .c-button-primary {
    @apply text-white bg-[#0049cc];
  }
  .c-button-primary:hover,
  .c-button-primary:focus {
    @apply text-white bg-[#005eff];
  }

  .c-button-1 {
    @apply p-[11px_23px];
  }
}

@layer utilities {
  .width-1-2 {
    @apply w-1/2;
  }
  .margin-small-left {
    @apply !ml-2.5;
  }
  [class*='width-'] {
    @apply w-full max-w-full;
  }
  .flex-middle-center {
    @apply flex items-center justify-center;
  }
  .hidden-lg {
    @apply lg:hidden;
  }
  .visible-lg {
    @apply max-lg:hidden;
  }
  .button-outline {
    @apply bg-white
  }
  .margin-remove{
    @apply !m-0
  }
  .s-button-small{
    @apply leading-[30px] font-[calc(-2px+0.875rem)] p-[0_15px]
  }
  .s-button {
    @apply appearance-none inline-block align-middle text-center tracking-[1.5px] overflow-visible
  }
  .s-button-primary{

  }
}
